<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <img class="fit-picture"
         src="img/logo.png"
         alt="la fete">
    <ul>
        <li>Villes</li>
        <li>Sites</li>
        <li>Accueil</li>
        <li>Mon Profil</li>
        <li>Se déconnecter</li>
    </ul>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
